<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.mapper.SearchMapper">

<!-- 분야별 리스트 -->
<!-- select id="list" resultType="com.itwill.domain.Search">

select b.*,bc.category_name 
from book b 
left join  book_category bc on b.category_no=bc.category_no  
where b.category_no =#{category_no}

 SELECT  
        	b.book_no,b.book_title,b.book_author,b.book_publisher,b.book_image,b.book_image_src,b.category_no,bc.category_name
        from book b 
		left join  book_category bc 
		on b.category_no=bc.category_no
        ORDER BY b.book_no

</select-->



<!-- 01. 상품 전체 목록 -->
    <select id="listBook" resultType="com.itwill.domain.Search">
        SELECT  
        	book_no,book_title,book_author,book_publisher,book_image,book_image_src,category_no,category_name
        from book  
        ORDER BY book_no
    </select>
    
    
</mapper>