/*
request_board css
*/
#requestBoard_wrap{
	margin:auto;
	text-align: center;
	width:800px;
	
}


 table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }
  
  #btn_write{
  	float: right;
  	margin-right: 250px;
  	margin-top: 20px;
  }