/*
request_board css
*/
.requestBoard_wrap{
	margin:auto;
	margin-left:50px; 
	width:120px;
	height:200px;
	align:center;
	background-color: black;
	
}


#table2 {
	border-bottom: 1px;
	color: pink;
}
