.rentalTable{
	text-align:center;
}

.listTable{
	padding-left: 50px;
	text-align:center;
}

.admintable{
	width:1500px;
	hight:20px;
	border-top: 2px solid #40a509;
    font-size: .9rem;
    font-weight: 400;
    
}
#admim_search_btn{
}

#tablehead{
	font-weight: bold;
	font-size: 18px;
}

#admin_user_search{
	
	display:inline-block;
	 border-radius: 20px;
	 width: 60%;
    margin: 10px 0;
    padding: 10px 12px;
    
    position: absolute;
    left: 15px;
    top: 15px;
    margin: 0;
}

#adsearch{
	position: relative;
}
