/*
seat_reservation css
*/
.seat_wrap {
	margin:auto;
	align-content: center;
	width:100%;
}

.my_seat_wrap {
	margin-left:0;
	margin-right:0;
	margin-top:100px;
	align-content: center;
	width:100%;
}
.no_seat {
	margin:auto;
	width:250px;
}
#A_room {
	width: 800px;
	margin-top: 100px;
	margin-bottom:0;
	margin-left:50px;
	text-align: center;
	align-content: center;
	float:left;
}
.a-deck{
	border: 1px solid; 
	background-color: #FFC0CB; 
	width:150px; 
	float: left; 
	margin-left:50px; 
	margin-right: 20px;
	margin-top: 20px;
	text-align: center;
	align-content: center;
}
#B_room {
	width: 800px;
	margin-top: 100px;
	margin-bottom:0;
	margin-left:50px;
	text-align: center;
	align-content: center;
	float:left;
}
.b-deck{
	border: 1px solid; 
	background-color: #FFC0CB; 
	width:150px; 
	float: left; 
	margin-left:50px; 
	margin-right: 20px;
	margin-top: 20px;
	text-align: center;
	align-content: center;
}
#C_room {
	width: 800px;
	margin-top: 100px;
	margin-bottom:0;
	margin-left:50px;
	text-align: center;
	align-content: center;
	float:left;
}
.c-deck{
	border: 1px solid; 
	background-color: #FFC0CB; 
	width:150px; 
	float: left; 
	margin-left:50px; 
	margin-right: 20px;
	margin-top: 20px;
	text-align: center;
	align-content: center;
}
#D_room {
	width: 800px;
	margin-top: 100px;
	margin-bottom:0;
	margin-left:50px;
	text-align: center;
	align-content: center;
	float:left;
}
.d-deck{
	border: 1px solid; 
	background-color: #FFC0CB; 
	width:150px; 
	float: left; 
	margin-left:50px; 
	margin-right: 20px;
	margin-top: 20px;
	text-align: center;
	align-content: center;
}

#my_room {
	margin-left:800px;
	margin-top: 100px;
	text-align: center;
	align-content: center;
	float:left;
}
.my-deck{
	border: 1px solid; 
	background-color: #FFC0CB; 
	width:150px; 
	float: left; 
	margin:auto;
	text-align: center;
	align-content: center;
}


/*
request_board css
*/
#requestBoard_wrap{
	margin:auto;
	text-align: center;
	width:800px;
	
}

#requestBoard_write_wrap{
	margin:auto;
	text-align: center;
	width:800px;
	
}

.card_text{
	margin:auto;
	width: 60px;
	background-color: white;
}

 table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  
  th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }
  
  #btn_write{
  	float: right;
  	margin-right: 560px;
  	margin-top: 20px;
  }